/config/mailconfig.php
/config/googleapi.php
/config/texts.php
/files/
/img/
/uploads/
/form_submissions/
/forms/*
!/forms/start.php
!/forms/demo/
!/forms/demo/**




/v2/.env
/v2/.npm-cache/
/v2/backend/.env
/v2/backend/vendor/
/v2/admin/node_modules/
