APP_NAME=FormsHubV2
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Europe/Berlin
APP_URL=http://localhost:8080

APP_LOCALE=de
APP_FALLBACK_LOCALE=de
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=formular_v2
DB_USERNAME=formular
DB_PASSWORD=formular

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

CACHE_STORE=redis
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"


LICENSE_SERVER_URL=
LICENSE_ACTIVATION_KEY=
LICENSE_MODE=free_fallback
LICENSE_INSTALLATION_ID=
LICENSE_DEVICE_NAME="FormsHub Server"
LICENSE_REQUEST_TIMEOUT=5
LICENSE_VALIDATE_INTERVAL_MINUTES=15
PRODUCT_NAME=FormsHub
LICENSE_PRODUCT_CODE=formshub
FREE_EDITION_NOTICE_ENABLED=true
FREE_EDITION_NOTICE_TEXT="FormsHub Free Edition - this installation is currently running without a valid commercial license."

BRANDING_DEFAULT_LOGO_URL=/brand-assets/formshub.png
BRANDING_CUSTOM_LOGO_URL=
BRANDING_CUSTOM_APP_NAME=
BRANDING_SHOW_VENDOR_FOOTER_LOGO=true
BRANDING_FORCE_VENDOR_WHEN_UNLICENSED=true